table {
    border: 1px solid black;
    width: 200px;

    text-align: center;
}

.container {
    display: flex;
    justify-content: start;
    align-items: start;
}


.item {
    padding-right: 50px;
}

tr {
    max-height: 30px;
}
td {
    border: 1px solid black;
}